PORT=4000
NODE_ENV=development
MONGODB_URI=mongodb://127.0.0.1:27017/kiosco_school
JWT_SECRET=change_me_super_secret
JWT_EXPIRES_IN=7d
API_RATE_LIMIT_MAX=2000
LOGIN_RATE_LIMIT_MAX=10
DEFAULT_ADMIN_EMAIL=admin@gmail.com
DEFAULT_ADMIN_PASSWORD=1234
GOOGLE_CLIENT_ID=your_google_client_id
FRONTEND_URL=http://localhost:5173
LOW_STOCK_THRESHOLD=10
RESERVATION_GRACE_DAYS=7
